body {
    margin: 0;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search-container {
    display: flex;
    align-items: center;
}

.magnifier {
    width: 25px;
}

.microphone {
    width: 30px;
}